{% extends "base.html" %}
{% load humanize %}

{% block title %}商品詳細{% endblock title %}

{% block content %}
<!-- Navigation（カートアイコン表示）-->
{% include "ec/_navigation.html" with cart_product_count=cart_product_count hide_cart_button=False %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if product.images.exists %}
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.images.first.image.url }}" alt="{{ product.name }}" />
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="サンプル画像" />
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{ product.id }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>￥{{ product.price | intcomma }}</span>
                </div>
                <p class="lead">{{ product.description }}</p>
                <form action="{% url "ec:add_to_cart" %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" name="quantity" value="1" style="max-width: 3rem" />
                        <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_product_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url "ec:product_detail" related_product.id %}">
                        {% if related_product.images.exists %}
                        <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}" />
                        {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="サンプル画像" />
                        {% endif %}
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            <!-- Product price-->
                            <span>￥{{ related_product.price | intcomma }}</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <form action="{% url "ec:add_to_cart" %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ related_product.id }}">
                                <button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
{% endblock content %}
